* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  border-radius: 4px;
  max-width: 100%;
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itens {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
ul {
  list-style: none;
}
.logo {
  font-weight: 600;
  font-size: 2rem;
  color: black;
  text-decoration: none;
}
li a {
  font-size: 1.125rem;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: rgba(247, 247, 247, 0.815);
  color: rgb(71, 71, 71);
  text-decoration: none;
}
.sobre-mim p{
  text-align: justify;
}
.sobre-mim {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

.titulo {
  color: rgb(48, 48, 48);
  font-size: 3rem;
  margin-bottom: 30px;
}
.texto {
  color: rgb(107, 107, 107);
  line-height: 2.1rem;
  font-size: 1.5rem;
}
strong {
  color: rgb(83, 83, 83);
}
